body{
    text-align: center;
    
  }
  
  .btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
  }
  
  .btn-container{
    display: flex;
    justify-content: center;
  }
  .yellow{
    background-color: rgb(132, 132, 70);
  }
  .red{
    background-color: rgb(235, 114, 114);
  }
  .purple{
    background-color: rgb(63, 30, 63);
  }
  .green{
    background-color: rgb(44, 66, 44);
  }
  .flash{
    background-color: white;
  }